body {
  margin: 0;
  padding: 0;
}
a {
  color: #4a75b5;
  text-decoration: none;
  outline: none;
}
.aside {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 500px;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .index-wrapper .aside {
    position:relative;
    width: 100%;
    height: 200px;
    max-width: none
  }
}
.infoCard {
  position: absolute;
  margin-top: 70%;
  text-align: center;
  width: 100%;
}

.infoCard h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 80px rgba(255,255,255,0.5);
  letter-spacing: .15em;
  text-shadow: rgba(255,255,255,0.5) 0 0 15px,rgba(255,255,255,0.5) 0 0 10px;
}
@media screen and (max-width: 767px) {
  .infoCard h1 {
    font-size: 16px;
  }
  .infoCard h4 {
    font-size: 14px;
  }

}
.infoCard h4 {
  color: #FFF;
  font-weight: lighter;
}
@media screen and (max-width: 767px) {
  .infoCard{
    margin-top:70px
  }
}
@media screen and (max-width:1170px) {
  .infoCard h1 {
    font-size: 20px;
  }
  .infoCard h4 {
    font-size: 16px;
  }

}
#backgroundCanvas {
  width: 100%;
  height: 100%;
}
.sectionContent{
  padding-top: 80px;
}
.sectionContent h1 {
  margin-top: 200px;
  margin-left: 100px;
}

.sectionContent h3 {
  margin-left: 140px;
}
.index-wrapper .artical-list {
  width: 70%;
  margin: 0 5%;
  list-style: none;
}
.index-wrapper .artical-list li {
  margin-bottom: 70px;
}
.index-wrapper .title {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
  word-break: break-all;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  color: #444;
}
.index-wrapper .title:hover{
  color:#15965A;
  text-decoration: none;
}
.index-wrapper .title-desc {
  color: #999;
  font-size: 14px;
  line-height: 1.6;
}
