<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<meta name="baidu-site-verification" content="PuUOlJ9Sod" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ wuBlog }}</title>
    <meta name="author" content="wuzhoubo" />
    <meta name="renderer" content="webkit">
	<meta name="keywords" content="吴舟波的个人博客" />
    <meta name="description" content="wu's Blog 吴舟波的个人博客 前端工程师 html5 css3 javascript es6 react.js vue.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
	<script src="js/jquery-1.7.1.min.js"></script>
    <style>{% include style.css %}</style>
  </head>

  {{ content }}
</html>
